@import "tailwindcss";

:root {
  --primary-color: #6B5B95;  /* Фиолетовый цвет кнопок */
  --bg-gray: #F3F4F7;        /* Серый фон */
  --sidebar-bg: #bg-gradient-to-l from-red-200/20 via-red-100/50 to-purple-200;     /* Фон боковой панели */
  --text-dark: #171717;
  --border-radius: 24px;     /* Скругление кнопок */
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: var(--sidebar-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background: var(--bg-gray);
}